body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    max-width: 90%;
    border-radius: 20px;
    height: 450px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.login-panel, .signup-panel {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2ecc71; /* Verde para o painel de login */
    color: white;
    width: 800px;
}

.signup-panel {
    background-color: #3498db; /* Azul para o painel de cadastro */
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #27ae60; /* Verde escuro para o botão */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #219653; /* Verde mais escuro ao passar o mouse */
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
